  body{
        background-color: #fff ;
    font-family: "ge ss two";

       }
    .btn-primr {
        font-weight: bold;
        text-align: center;
        margin: auto;
        display: block;
        background-color: #409fd7;
        
    }   

    .et-icon {
        position: absolute;
        color: #e93d3d;
        right: 53px;
        top: 122px;
        background: #409fd7;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5;
        font-size: 38px;
        
    }


                    .fa {
        color: #f2be0f;
        position: absolute;
        color: #e93d3d;
        /* color: #3498db; */
        right: 53px;
    top: -120px;
            background: #409fd7;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        text-align: center;
        line-height: 1.5;
        font-size: 38px;

        }     .title2 {
    margin-top: -110px;
            right: 24%;
        font-weight: bold;
        margin-right: 40px;
        position: absolute;
        margin-right: 77px;
        color: #4c4c4c;
         font-size: 30px;
        }






      p {
        margin-top: 53px;
         color: 000;
        font-size: 20px;
        font-weight: 400;
        max-width: 500px;
         text-align: right;

}
   
        .contain{
        position: relative;
        }
        .content-titel{
        position: absolute;
        right: 20%;
        }
        article{
        /*display: none;*/ 
        }
   .form-control {
        display: block;
         width: 48% !important;  
        height: 80px !important;  
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        height: 200px;

    -webkit-box-shadow: 0 0 0px 3px #aaa;
    -moz-box-shadow: 0 0 0px 3px #aaa;
    box-shadow:  box-shadow: 0 0 0px 3px #aaa;
 
    }
        .btn-submit{
        margin-top: 30px;
        background-color: #409fd7;
            padding: 9px 57px;
        }

   
       .footer {
            font-weight: bold !important;
            text-align: right!important;
            max-width: 820px;
               } 


                         .masege {
 position: absolute;     /* display: block; */
     /* margin: 50% 0; */
     background: red;
    color: #fff;
    padding: 11px;
    font-weight: bold;
    margin-top: 100px;
 
}

 


img{

    width: 25px;
    height: 30px; 
  border-radius: 50%;
  position: relative;;
}
.span-apan{
position: relative;
}

.span-apan:after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    position: absolute;
    margin-top: -61px;
    border-color: transparent transparent red;
    right: 0;
 
}

           @media(max-width:1075px){

        .title2 {
    right: 7.6%;    }
        .fa {
    right: -100px
        } 
       }
             
   }
      @media(max-width:1600px){
  .form-control { 
         width: 48% !important;  

 }
      }

   @media (max-width: 992px){
.title2 {
    right: 4%;
}
             .form-control {
        width: 75% !important;
      }
    }
       
        @media(max-width:768px){
        .title2 {
       }
        .faa {
        right: -75px;
        }
           .form-control {
        width: 97% !important;
      }
   
}   
          @media(max-width:684px){
        .title2 {
    right: -2% !important;
          }
 
   }
       
             @media(max-width:500px){
        .title {
        right: -1.4%;}
        .fa {
        right: -75px;
        }
           .form-control {
        width: 97% !important;
      }
   }
 .Edit{
      margin-right: 30px;
 }
.Hedder {
    background-color: #f5f5f5;
    border-radius-t: 10%;
     height: 100px;
    display: block; 


    -webkit-box-shadow:0 4px 1px #677f89;
    -moz-box-shadow:0 4px 1px #677f89;
    box-shadow: 0 4px 1px #677f89;


}
     {

     }
     .p-footer{
        margin-right: 27px;
}

